%ul.list-group
  = form_with url: lists_create_path do |f|
    .form-group.lists
      = f.label :name, 'あなたが求めるキャラ', class: 'm-0'
      %small.text-danger 必須
      %br
      %small 1キャラのみご入力ください
      = f.text_field :name, class: 'form-control', size: 30
    .form-group.lists
      = f.label :name, 'あなたが譲るキャラ', class: 'm-0'
      %small.text-danger 必須
      %br
      %small 空白区切りで複数登録できます
      = f.text_field :name, class: 'form-control', size: 30
    .form-group.lists
      = f.label :name, 'キーワード', class: 'm-0'
      %br
      %small 1キーワードのみご入力ください
      = f.text_field :name, class: 'form-control', size: 30
    .lists
      = f.submit "この検索条件を登録" ,{ class: 'btn cyaan to_lists_new btn-block'}
