%ul.list-group.row
  = form_with model: @registration, class: 'col-md-8 col-12 mx-auto' do |f|
    .form-group.lists.row
      %p.col-12
        定期的にツイートを検索し、関連ツイートをお知らせいたします。
      %small.col-12
        1キャラまでご登録いただけます。
    .form-group.lists.row
      = f.label :求, class: 'col-2'
      = f.text_field :wanted_item, class: 'col-10', size: 100
    .form-group.lists.row
      %small.col-12
        空白区切りで複数のキャラクターをご登録いただけます。
    .form-group.lists.row
      = f.label :譲, class: 'col-2'
      = f.text_area :owned_item, class: 'col-10', size: 100
    .lists.text-right
      = f.submit '登録' ,{ class: 'btn cyaan m-0'}